dist: trusty
sudo: false
language: node_js
node_js:
  - '9'

branches:
  only:
    - master

cache:
  directories:
    - "./node_modules"

before_script:
  - npm install -g @angular/cli

script:
  - ng build --prod --aot
