<div class="slds-grid slds-wrap">
    <nav class="slds-col slds-size_1-of-1">
        <app-header></app-header>
    </nav>

    <main class="slds-col slds-size_1-of-2 slds-p-top_large slds-p-left_large">
        <img src="https://s3-us-west-1.amazonaws.com/sfdc-demo/realty/house08.jpg" alt="Cool house."/>
    </main>

    <aside class="slds-col slds-size_1-of-2 slds-p-top_large slds-p-left_large slds-p-right_large">
        <app-timeline></app-timeline>
    </aside>

    <nav class="slds-col slds-size_1-of-1 slds-p-top_x-large slds-p-left_large slds-p-right_large">
        <app-card></app-card>
    </nav>
</div>